<html ng-app="IdolVideo" class="ng-scope"><head><script src="http://id.jiathis.com/id.php?u=http%3A%2F%2Ftv.idol001.com%2Fvideo_mobile%2F556726d87a117300428b4754.html&amp;t=%E6%88%91%E7%9A%84%E9%82%BB%E5%B1%85%E6%98%AFEXO%E9%9F%A9%E5%89%A7%E5%85%A8%E9%9B%86%20%E6%88%91%E7%9A%84%E9%82%BB%E5%B1%85%E6%98%AFEXO%E5%9C%A8%E7%BA%BF%E8%A7%82%E7%9C%8B%20-%20%E7%88%B1%E8%B1%86%E5%BD%B1%E8%A7%86%E5%BA%93&amp;r=http%3A%2F%2Ftv.idol001.com%2Ftelevision_search.html&amp;k=&amp;s=&amp;time=1443964212834" charset="utf-8"></script><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide{display:none !important;}ng\:form{display:block;}</style>

	<meta charset="utf-8">
	<title>我的邻居是EXO韩剧全集 我的邻居是EXO在线观看 - 爱豆影视库</title>
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="Description" content="主演:朴灿烈，文佳煐，都暻秀，边伯贤，吴世勋，张艺兴，金珉锡，金钟大，金钟仁，金俊勉，黄子韬，全秀珍，张宥尚

">
    <meta name="keywords" content="我的邻居是EXO,韩剧,在线观看,下载,爱豆,爱豆APP,爱豆TV,idol,偶像,明星,直播,动态">
    
	<meta name="format-detection" content="telephone=no, email=no">
	<link rel="stylesheet" href="http://misc.web.idol001.com/tv/video/css/style.css?date=201507281641">

	<!-- by xm -->
	<!-- begin -->
	<link rel="stylesheet" href="css/main.css">
	<!-- end -->

	<script charset="utf-8" src="http://trust.baidu.com/vcard/v.js?siteid=6124768&amp;url=http%3A%2F%2Ftv.idol001.com%2Fvideo_mobile%2F556726d87a117300428b4754.html&amp;source=&amp;rnd=1912040774"></script><script src="//hm.baidu.com/hm.js?f8d645bec1af37323ecf4b6f52453b71"></script><script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?f8d645bec1af37323ecf4b6f52453b71";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>

    <script>
var G_COLLECTION_ID = '556726d87a117300428b4754';
var unique = (function () {
        var time= (new Date()).getTime()+'-', i=0;
        return function () {
           return time + (i++);
        }
    })();

    var imgLog = function (url) {
        var data = window['imgLogData'] || (window['imgLogData'] = {});
        var img = new Image();
        var uid = unique();
        img.onload = img.onerror = function () {//销毁一些对象
            img.onload = img.onerror = null;
            img = null;
            delete data[uid];
        }
        img.src = url + '&_uid=' + uid;
    };
    </script>

</head>
<body><link href="http://v3.jiathis.com/code/css/jiathis_share.css" rel="stylesheet" type="text/css"><iframe frameborder="0" style="position: absolute; display: none; opacity: 0;"></iframe><div class="jiathis_style" style="position: absolute; z-index: 1000000000; display: none; top: 50%; left: 50%; overflow: auto;"></div><div class="jiathis_style" style="position: absolute; z-index: 1000000000; display: none; overflow: auto;"></div><iframe frameborder="0" src="http://v3.jiathis.com/code/jiathis_utility.html" style="display: none;"></iframe>
	<div class="wraper ng-scope" ng-controller="VideoDetail" ng-show="!!current_video">
		<link rel="stylesheet" href="http://misc.web.idol001.com/activity/css/login-mobile.css">
<link rel="stylesheet" href="http://misc.web.idol001.com/tv/video/css/menu.css?date=201507300839">
<script type="text/javascript" src="http://misc.web.idol001.com/www/js/jquery.js"></script>
<script type="text/javascript" src="http://tv.idol001.com/js/angular-1.2.9/angular.min.js"></script>
<script type="text/javascript" src="http://tv.idol001.com/js/angular-1.2.9/angular-sanitize.min.js"></script>
<script type="text/javascript" src="http://misc.web.idol001.com/tv/video/ng-infinite-scroll.min.js"></script>
<script>
document.domain = 'idol001.com';
var IdolVideo = angular.module("IdolVideo", ["IdolVideo.ctrl", "IdolVideo.directive", "IdolVideo.filter", "IdolVideo.service", "ngSanitize", "infinite-scroll"], function ($compileProvider) {
	$compileProvider.aHrefSanitizationWhitelist(/^\s*(https?|ftp|mailto|file|idolapp):/);
});

var IdolVideoCtrl = angular.module("IdolVideo.ctrl", []);
var IdolVideoDirective = angular.module("IdolVideo.directive", []);
var IdolVideoFilter = angular.module("IdolVideo.filter", []);
var IdolVideoService = angular.module("IdolVideo.service", []);

IdolVideoService.service( 'Video', [ '$rootScope', '$window', '$http', function( $rootScope, $win, $http ) {

this.getRelateVideos = function(){
	return $http.get("/video_mobile/relate_videos.json");
}

this.getVideos = function(page){
	return $http.jsonp("http://data.android.idol001.com:8080/api_moblie_idol_television.php?action=get_television_list&count=12&callback=JSON_CALLBACK&page="+page);
}

this.getVideoCollection = function(collection_id){
	return $http.get("/television/"+collection_id+".json");
}

this.getSearchResults = function(keyword){
	return $http.jsonp("http://search.idol001.com/search.php?callback=JSON_CALLBACK&q="+keyword);
}

this.loginCheck = function() {
	return $http.jsonp("http://user.idol001.com/weibo_callback.php?callback=JSON_CALLBACK");
}

this.login = function() {
	location.href = 'https://api.weibo.com/oauth2/authorize?forcelogin=true&client_id=3462420625&redirect_uri=http%3A%2F%2Fuser.idol001.com%2Fweibo_callback.php%3Ffrom%3Dweibo%26redirect_uri%3D'+encodeURIComponent(encodeURIComponent(location.href))+'&response_type=code';
}

this.loginSina = function() {
	location.href = 'https://api.weibo.com/oauth2/authorize?forcelogin=true&client_id=3462420625&redirect_uri=http%3A%2F%2Fuser.idol001.com%2Fweibo_callback.php%3Ffrom%3Dweibo%26redirect_uri%3D'+encodeURIComponent(encodeURIComponent(location.href))+'&response_type=code';
}

this.loginQQ = function() {
	location.href = 'https://graph.qq.com/oauth2.0/authorize?response_type=code&client_id=101221908&redirect_uri=http%3A%2F%2Fuser.idol001.com%2Fqq_callback.php%3Ffrom%3Dweibo%26redirect_uri%3D'+encodeURIComponent(encodeURIComponent(location.href))+'&state=d29c61ba4166065869216c2111cae4f2&scope=get_user_info,get_simple_userinfo,get_vip_info,get_vip_rich_info,list_album,upload_pic,add_album,list_photo,check_page_fans,get_info,add_t,del_t,add_pic_t,get_repost_list,get_other_info,get_fanslist,get_idollist,add_idol,del_idol,get_tenpay_addr';
}

}]);

IdolVideoDirective.directive( "timeLeft", [ function() {
    function link(scope, element, attrs) {
	    var timeoutId;
	    var time_left = (attrs.timeLeft - (+new Date))/1000;

	    function updateTimeLeft() {
	        element.text(timer_elapsed(time_left));
	    }

	    // start the UI update process; save the timeoutId for canceling
	    
        updateTimeLeft(); // update DOM

	}

	function timer_elapsed(ts) {
		if (ts <= 0) {
			return '';
		}   
	    var dd = parseInt(ts / 60 / 60 / 24, 10);//计算剩余的天数  
	    var hh = parseInt(ts / 60 / 60 % 24, 10);//计算剩余的小时数  
	    var mm = parseInt(ts / 60 % 60, 10);//计算剩余的分钟数  
	    var ss = parseInt(ts % 60, 10);//计算剩余的秒数  
	    return dd + "天" + hh + "小时" + mm + "分"
	      // + ss + "秒";
	}  

	return {
	    link: link
	};
}]);

IdolVideoDirective.directive( "videoType", [ 'Video', function( Video ) {
    return {
        restrict: "A",
            link: function( scope, element, attrs ) {
            	if (attrs.typeval="2") {
            		element.html('类型:电视剧');
            	}else if (attrs.typeval="1") {
            		element.html('类型:电影');
            	}else if (attrs.typeval="3") {
            		element.html('类型:综艺');
            	}else if (attrs.typeval="4") {
            		element.html('类型:动漫');
            	}
        }
    }
}]);

IdolVideoDirective.directive( "updatedesc", [ 'Video', function( Video ) {
    return {
        restrict: "E",
        // replace:true,
        template : function (tElement, tAttrs) {
        	if (!!tAttrs.val) {
        		return '更新至<span class="highlight num"'+tAttrs.val+'</span>集';
        	} else {
        		return '未开播';
        	}
		}
    }
}]);

IdolVideoDirective.directive( "loginBtnSina", [ 'Video', function( Video ) {
    return {
        restrict: "A",
            link: function( scope, element, attrs ) {
            element.bind( "click", function() {
				Video.loginSina();
            });
        }
    }
}]);

IdolVideoDirective.directive( "loginBtnQq", [ 'Video', function( Video ) {
    return {
        restrict: "A",
            link: function( scope, element, attrs ) {
            element.bind( "click", function() {
                Video.loginQQ();
            });
        }
    }
}]);

IdolVideoCtrl.controller('VideoIndex', ['$window', '$scope', '$rootScope', '$timeout', 'Video', function($win, $scope, $rootScope, $timeout, Video){

$scope.videos = [];
$scope.hasMore = true;
$scope.page = 1;

$scope.myPagingFunction = function(){
	
	Video.getVideos($scope.page).success(
	    function(data, status, header, config){
	    	$timeout(function() {
		        
		        if (data.list.length == 0) {
		        	$scope.hasMore = false;
		        }

		        angular.forEach(data.list, function(da,index,array){
					$scope.videos.push(da);
				});

		    }, 0);
	    }

	).error(
	    function(data){
	    }
	);

	$scope.page += 1;
}

}]);

IdolVideoCtrl.controller('VideoDetail', ['$window', '$scope', '$rootScope', '$timeout', 'Video', '$sce', function($win, $scope, $rootScope, $timeout, Video, $sce){

$scope.video = null;
$scope.current_video = null;
$scope.tab = 'line';
$scope.is_app_browser = /idolapp/i.test(navigator.userAgent);
$scope.video_html = '';
$scope.appLink = 'javascript:void(0)';
$scope.relate_video_list = [];
$scope.video_timer = null;

Video.getRelateVideos().success(
    function(data, status, header, config){
    	$timeout(function() {
	        $scope.relate_video_list = data;
	    }, 0);
    }
).error(
    function(data){
    }
);

$scope.getThumbnail = function(src) {
	return src.replace('origin', 'thumbnail');
}

$win.playVideo = function(){
    try {
	    if($scope.current_video.url.indexOf("qiniu")>=0){
			idolwebviewObject.startPlayer($scope.current_video.url, $scope.current_video.title);
		}else{
            idolwebviewObject.startPlayer('http://android.idol001.com/play_m3u8.php?url='+$scope.current_video.url, $scope.current_video.title);
		}
    } catch(e) {
        $scope.video_html = $sce.trustAsHtml($scope.current_video.embed_url);
    }
    $scope.sendPlayData();
}

$win.sendPlayData = function() {
	imgLog('http://statistic.idol001.com/api_moblie_idol/?action=log_video_mobile_play&platform=web&video_id='+$scope.current_video._id);
}

function resetCurrentVideo(data) {
	clearTimeout($scope.video_timer);
	$scope.appLink = 'idolapp://idol001.com/start?action=video&videoUrl=http://android.idol001.com'+encodeURIComponent('/play_m3u8.php?url='+data.url)+'&videoName='+encodeURIComponent(data.title);

	if (data.publish_type == 1) {//外网播放
		if ($scope.is_app_browser && /iPhone|iPod/i.test(navigator.userAgent)) {
	    	// $scope.video_html = $sce.trustAsHtml('<a href="'+'idolapp://idol001.com/start?action=video&videoUrl=http://android.idol001.com'+encodeURIComponent('/play_m3u8.php?url='+data.url)+'&videoName='+encodeURIComponent(data.title)+'" class="ico-play"></a>');
	    	$scope.video_html = $sce.trustAsHtml($scope.current_video.embed_url);
	    } else if (typeof $win.idolwebviewObject == 'undefined' || typeof $win.idolwebviewObject.startPlayer == 'undefined') {
	    	$scope.video_html = $sce.trustAsHtml(data.embed_url);
	    } else {
	    	$scope.video_html = $sce.trustAsHtml('<a onclick="playVideo()" href="javascript:void(0)" class="ico-play"></a>');
	    }

	    if (data.time_limit == 1 && !!data.time_limit_val && !/idolapp/i.test(navigator.userAgent)) {
	        $scope.video_timer = $timeout(function(){
	            $scope.video_html = '';
	        }, data.time_limit_val*60000);
	    } 
	} else {//APP播放
		if ($scope.is_app_browser) {
			if (/iPad|iPhone|iPod/i.test(navigator.userAgent)) {
				$scope.video_html = $sce.trustAsHtml('<a onclick="sendPlayData()" href="'+'idolapp://idol001.com/start?action=video&videoUrl=http://android.idol001.com'+encodeURIComponent('/play_m3u8.php?url='+data.url)+'&videoName='+encodeURIComponent(data.title)+'" class="ico-play"></a>');
			} else {
				$scope.video_html = $sce.trustAsHtml('<a onclick="playVideo()" href="javascript:void(0)" class="ico-play"></a>');
			}
			
		} else {
			$scope.video_html = '';
		}
	}
}

$scope.changeCurrentVideo = function(videoid){
	angular.forEach($scope.video.sublist, function(da,index,array){
		if (da._id == videoid) {
			$scope.current_video = da;
			resetCurrentVideo($scope.current_video);
		}
	});
}

Video.getVideoCollection(G_COLLECTION_ID).success(
    function(data, status, header, config){
    	$timeout(function() {
	        $scope.video = data;

	        if (data.relate_video_list.length > 0) {
	        	data.sublist.push(data.relate_video_list[0]);
	        }

	        if (data.sublist.length > 0) {
	        	$scope.current_video = data.sublist[0];

	        	resetCurrentVideo($scope.current_video);
	        }

	    }, 0);
    }
).error(
    function(data){
    }
);


}]);

IdolVideoCtrl.controller('VideoSearch', ['$window', '$scope', '$rootScope', '$timeout', 'Video', function($win, $scope, $rootScope, $timeout, Video){

$scope.search_result = [];
$scope.loaded = false;
$scope.isFocus = false;

$('.btn-search').hide();

$scope.getFilterTitle = function(title) {
	var regexp = new RegExp('('+$scope.keyword+')',"ig");
	return title.replace(regexp, '<span class="highlight">$1</span>');
}

$scope.doSearch = function(){
	if ($.trim($scope.keyword) == '') {
		alert('请输入影片名称');
		return false;
	}
	$scope.loaded = false;
	Video.getSearchResults($scope.keyword).success(
    function(data, status, header, config){
    	$scope.loaded = true;
    	$timeout(function() {
	        $scope.search_result = data.list;
	    }, 0);
    }).error(
	    function(data){
	    	$scope.loaded = true;
	    }
	);
}

}]);

IdolVideoCtrl.controller('VideoHeader', ['$window', '$scope', '$rootScope', '$timeout', 'Video', function($win, $scope, $rootScope, $timeout, Video){

$scope.showMenu = false;
$scope.showLogin = false;
$scope.userinfo = null;
$scope.tip_show = true;

$scope.preventHide = function($event) {
	$event.stopPropagation();
}

$win.loginCallBack = function(userinfo) {
	$timeout(function() {
		$scope.userinfo = userinfo;
	}, 0);
}

	Video.loginCheck().success(
    function(data, status, header, config){
    	$timeout(function() {
    		$scope.showLogin = false;
	        $scope.userinfo = data;
	    }, 0);
    }).error(
	    function(data){
	    	$scope.loaded = true;
	    }
	);

}]);

</script>
<div ng-controller="VideoHeader" class="ng-scope">

<header class="header">
	<h1 class="logo"><a href="">爱豆·影视库</a></h1>
	<div class="head-opt">
		<a href="http://tv.idol001.com/television_search.html" class="btn-search"></a>
		<a href="javascript:void(0)" ng-click="showMenu=!showMenu" class="btn-menu"></a>
	</div>
</header>

<div class="pop-menu ng-hide" ng-show="!!showMenu" ng-click="showMenu=!showMenu" style="z-index:9999">
	<div class="pop-menu-main" ng-click="preventHide($event)">
		<div class="pop-user-login">
			<a href="javascript:void(0)" class="pop-avatar"><img ng-src="http://misc.web.idol001.com/tv/video/images/avatar.jpg" alt="" src="http://misc.web.idol001.com/tv/video/images/avatar.jpg"></a>
			<a href="javascript:void(0)" class="pop-btn-login" ng-show="!userinfo" ng-click="showLogin=true">登录</a>
			<!-- 已登录 -->
			<a href="http://activity.idol001.com/mobile/person/" class="pop-user-name ng-binding ng-hide" ng-show="!!userinfo"></a>
		</div>
		<ul class="pop-menu-nav">
			<li><a class="a-home" href="http://m.idol001.com/">首页</a></li>
			<li><a class="a-vedio on" href="/television.html">影视库</a></li>
			<li><a class="a-flag" href="http://activity.idol001.com/mobile.php">活动汇</a></li>
		</ul>
	</div>
</div>

<iframe id="form_post" name="form_post" src="about:blank" height="0" width="0" style="display:none"></iframe>
<div class="guide-tips ng-hide" id="guide-dialog" ng-show="!!showLogin">
	<div class="guide-dialog-login">
		<a class="close-btn" href="javascript://" ng-click="showLogin=false"></a>
		<section class="login-pt login-pt2">
			<h1 class="login-tit login-idol">爱豆账号登录<i></i></h1>
			<div class="login-btn-con">
				<div class="login-form">
					<form class="form-login ng-pristine ng-valid" method="post" action="http://user.idol001.com/web_login.php?action=login_idol" target="form_post">
						<div class="login-wr">
							<label for="username" class="login-lb">账号</label>
							<input type="text" class="login-ip" id="username" name="username">
						</div>
						<div class="login-wr">
							<label for="password" class="login-lb">密码</label>
							<input type="password" class="login-ip" id="password" name="password">
						</div>
						<div class="login-wr">
							<p class="login-error" style="display:none">帐号不存在或者密码错误</p>
							<a href="javascript://" onclick="$('.form-login').submit()" class="btn-login">登录</a>
						</div>
					</form>
				</div>             
			</div>
		</section>
		<section class="login-pt login-pt1">
			<h1 class="login-tit">一键登录 无需注册</h1>
			<div class="login-btn-con">
				<a class="dl-btn dl-qq" login-btn-qq="">QQ登录<b></b></a>
				<a class="dl-btn dl-wb" login-btn-sina="">微博登录<b></b></a>                 
			</div>
		</section>
	</div>
</div>

</div>


		<div class="content cent-py">
			<section class="sec">
				<div class="player-pt">
					<!-- ngIf: !is_app_browser&&current_video.publish_type==1&&current_video.time_limit==1 -->
					<div class="player ng-binding ng-hide" id="player_box" ng-bind-html="video_html" ng-show="video_html!=''"></div>
					<div class="player-tip" ng-show="video_html==''">
	                    <div class="tip-wr">
	                        <p class="notice ng-binding">本视频为爱豆APP用户专享视频</p>
	                        <a onclick="if(/iPad|iPhone|iPod/i.test(navigator.userAgent)){location.href='http://click.hm.baidu.com/app.gif?ap=199824&amp;ch=23216'}else{location.href='http://click.hm.baidu.com/app.gif?ap=104915&amp;ch=23356'}return false;" href="javascript:void(0)" class="btn-notice ng-binding">安装爱豆APP观看</a>
	                    </div>
	                </div>
					<!-- ngIf: !is_app_browser&&current_video.publish_type==1 -->
				</div>
				<div class="play-msg">
					<h2 class="play-name ng-binding" id="play-name">我的邻居是EXO 第1集</h2>
					<p id="play-desc" ng-show="current_video.type==2&amp;&amp;current_video.desc" class="ng-binding ng-hide"></p>
					<!-- by xm -->
					<!-- begin -->
					<div class="idol-play-info">
    					<div class="idol-play-info-des">简效中字抢先版</div>
  					</div>
				</div>	
				<div class="idol-play-info-actor">主演：金秀贤，全智贤，刘仁娜，朴海吴</div>
				<div class="idol-play-info-more">...</div>
					<!-- end -->
				</div>
			</section>
			<!-- ngIf: !!video.live_obj -->
			<section class="sec">
				<div class="tab-wp">
					<ul class="tab-nav">
						<li><a ng-click="tab='line'" ng-class="{'on':tab=='line', 'tab-nav-line':true}" href="javascript:void(0)" class="on tab-nav-line">在线</a></li>
						<li><a ng-click="tab='down'" ng-class="{'on':tab=='down', 'tab-nav-down':true}" href="javascript:void(0)" class="tab-nav-down">下载</a></li>
						<!-- by xm -->
						<!-- begin -->
						<li><a ng-click="tab='comment'" ng-class="{'on':tab=='comment', 'tab-nav-comment':true}" href="javascript:void(0)" class="tab-nav-comment">评论</a></li>	
						<!-- end -->		
					</ul>
					<div class="tab-main">
						<div class="tab-switch">
							<ul class="tv-list fn-clearfix" ng-show="tab=='line'">
								<!-- ngRepeat: item in video.sublist --><li ng-repeat="item in video.sublist" class="ng-scope">
									<a ng-click="changeCurrentVideo(item._id)" ng-class="{'no-source':item.isempty, 'on':current_video._id==item._id}" href="javascript:void(0)" class="ng-binding on">1<!-- ngIf: item.isempty --></a>
								</li><!-- end ngRepeat: item in video.sublist --><li ng-repeat="item in video.sublist" class="ng-scope">
									<a ng-click="changeCurrentVideo(item._id)" ng-class="{'no-source':item.isempty, 'on':current_video._id==item._id}" href="javascript:void(0)" class="ng-binding">2<!-- ngIf: item.isempty --></a>
								</li><!-- end ngRepeat: item in video.sublist --><li ng-repeat="item in video.sublist" class="ng-scope">
									<a ng-click="changeCurrentVideo(item._id)" ng-class="{'no-source':item.isempty, 'on':current_video._id==item._id}" href="javascript:void(0)" class="ng-binding">3<!-- ngIf: item.isempty --></a>
								</li><!-- end ngRepeat: item in video.sublist --><li ng-repeat="item in video.sublist" class="ng-scope">
									<a ng-click="changeCurrentVideo(item._id)" ng-class="{'no-source':item.isempty, 'on':current_video._id==item._id}" href="javascript:void(0)" class="ng-binding">4<!-- ngIf: item.isempty --></a>
								</li><!-- end ngRepeat: item in video.sublist --><li ng-repeat="item in video.sublist" class="ng-scope">
									<a ng-click="changeCurrentVideo(item._id)" ng-class="{'no-source':item.isempty, 'on':current_video._id==item._id}" href="javascript:void(0)" class="ng-binding">5<!-- ngIf: item.isempty --></a>
								</li><!-- end ngRepeat: item in video.sublist --><li ng-repeat="item in video.sublist" class="ng-scope">
									<a ng-click="changeCurrentVideo(item._id)" ng-class="{'no-source':item.isempty, 'on':current_video._id==item._id}" href="javascript:void(0)" class="ng-binding">6<!-- ngIf: item.isempty --></a>
								</li><!-- end ngRepeat: item in video.sublist --><li ng-repeat="item in video.sublist" class="ng-scope">
									<a ng-click="changeCurrentVideo(item._id)" ng-class="{'no-source':item.isempty, 'on':current_video._id==item._id}" href="javascript:void(0)" class="ng-binding">7<!-- ngIf: item.isempty --></a>
								</li><!-- end ngRepeat: item in video.sublist --><li ng-repeat="item in video.sublist" class="ng-scope">
									<a ng-click="changeCurrentVideo(item._id)" ng-class="{'no-source':item.isempty, 'on':current_video._id==item._id}" href="javascript:void(0)" class="ng-binding">8<!-- ngIf: item.isempty --></a>
								</li><!-- end ngRepeat: item in video.sublist --><li ng-repeat="item in video.sublist" class="ng-scope">
									<a ng-click="changeCurrentVideo(item._id)" ng-class="{'no-source':item.isempty, 'on':current_video._id==item._id}" href="javascript:void(0)" class="ng-binding">9<!-- ngIf: item.isempty --></a>
								</li><!-- end ngRepeat: item in video.sublist --><li ng-repeat="item in video.sublist" class="ng-scope">
									<a ng-click="changeCurrentVideo(item._id)" ng-class="{'no-source':item.isempty, 'on':current_video._id==item._id}" href="javascript:void(0)" class="ng-binding">10<!-- ngIf: item.isempty --></a>
								</li><!-- end ngRepeat: item in video.sublist --><li ng-repeat="item in video.sublist" class="ng-scope">
									<a ng-click="changeCurrentVideo(item._id)" ng-class="{'no-source':item.isempty, 'on':current_video._id==item._id}" href="javascript:void(0)" class="ng-binding">11<!-- ngIf: item.isempty --></a>
								</li><!-- end ngRepeat: item in video.sublist --><li ng-repeat="item in video.sublist" class="ng-scope">
									<a ng-click="changeCurrentVideo(item._id)" ng-class="{'no-source':item.isempty, 'on':current_video._id==item._id}" href="javascript:void(0)" class="ng-binding">12<!-- ngIf: item.isempty --></a>
								</li><!-- end ngRepeat: item in video.sublist --><li ng-repeat="item in video.sublist" class="ng-scope">
									<a ng-click="changeCurrentVideo(item._id)" ng-class="{'no-source':item.isempty, 'on':current_video._id==item._id}" href="javascript:void(0)" class="ng-binding">13<!-- ngIf: item.isempty --></a>
								</li><!-- end ngRepeat: item in video.sublist --><li ng-repeat="item in video.sublist" class="ng-scope">
									<a ng-click="changeCurrentVideo(item._id)" ng-class="{'no-source':item.isempty, 'on':current_video._id==item._id}" href="javascript:void(0)" class="ng-binding">14<!-- ngIf: item.isempty --></a>
								</li><!-- end ngRepeat: item in video.sublist --><li ng-repeat="item in video.sublist" class="ng-scope">
									<a ng-click="changeCurrentVideo(item._id)" ng-class="{'no-source':item.isempty, 'on':current_video._id==item._id}" href="javascript:void(0)" class="ng-binding">15<!-- ngIf: item.isempty --></a>
								</li><!-- end ngRepeat: item in video.sublist --><li ng-repeat="item in video.sublist" class="ng-scope">
									<a ng-click="changeCurrentVideo(item._id)" ng-class="{'no-source':item.isempty, 'on':current_video._id==item._id}" href="javascript:void(0)" class="ng-binding">16<!-- ngIf: item.isempty --></a>
								</li><!-- end ngRepeat: item in video.sublist -->
							</ul>
							<div class="down-pan ng-hide" ng-show="tab=='down'">
								<div class="down-info">获取高清资源请<a onclick="if(/iPad|iPhone|iPod/i.test(navigator.userAgent)){location.href='http://click.hm.baidu.com/app.gif?ap=199824&amp;ch=23216'}else{location.href='http://click.hm.baidu.com/app.gif?ap=104915&amp;ch=23356'}return false;" href="javascript:void(0)">下载爱豆APP</a></div>
							</div>
						</div>
					</div>

					<div class="oth-info ng-binding" ng-show="tab=='line'">共16集<a onclick="if(/iPad|iPhone|iPod/i.test(navigator.userAgent)){location.href='http://click.hm.baidu.com/app.gif?ap=199824&amp;ch=23216'}else{location.href='http://click.hm.baidu.com/app.gif?ap=104915&amp;ch=23356'}return false;" href="javascript:void(0)">下载APP更新即时提醒</a></div>
					<!-- by xm -->
					<!-- begin -->
					<div class="idol-online-movie" ng-show="tab=='line'">
						<ul class="idol-online-movie-items">
							<li class="idol-online-movie-item">
								<div class="idol-online-movie-item-title">
									2015-5-15 第一期：音乐银行 EXO再夺小组冠军
								</div>
								<div class="idol-online-movie-item-content">
									本期主演：金秀贤，金志贤，刘备山，金大洲
								</div>
							</li>
							<li class="idol-online-movie-item">
								<div class="idol-online-movie-item-title">
									2015-5-15 第一期：音乐银行 EXO再夺小组冠军
								</div>
								<div class="idol-online-movie-item-content">
									本期主演：金秀贤，金志贤，刘备山，金大洲
								</div>
							</li>
							<li class="idol-online-movie-item">
								<div class="idol-online-movie-item-title">
									2015-5-15 第一期：音乐银行 EXO再夺小组冠军
								</div>
								<div class="idol-online-movie-item-content">
									本期主演：金秀贤，金志贤，刘备山，金大洲
								</div>
							</li>
							<li class="idol-online-movie-item">
								<div class="idol-online-movie-item-title">
									2015-5-15 第一期：音乐银行 EXO再夺小组冠军
								</div>
								<div class="idol-online-movie-item-content">
									本期主演：金秀贤，金志贤，刘备山，金大洲
								</div>
							</li>
							<li class="idol-online-movie-item">
								<div class="idol-online-movie-item-title">
									2015-5-15 第一期：音乐银行 EXO再夺小组冠军
								</div>
								<div class="idol-online-movie-item-content">
									本期主演：金秀贤，金志贤，刘备山，金大洲
								</div>
							</li>
						</ul>
						<div class="idol-online-movie-history-btn">查看往期</div>
					</div>
					<div class="idol-comment-info" ng-show="tab=='comment'">
						<div class="idol-comment-many" style="display:block;">
	                        <div class="idol-comment-top">
	                            <div class="idol-comment-top-num">39评论</div>
	                            <div class="idol-comment-top-info">评论互动请下载爱豆APP</div>
	                            <div class="clearfix"></div>
	                        </div>       
	                        <ul class="idol-comment-lists">
	                            <li class="idol-comment-item">
	                                <div class="idol-comment-item-top">
	                                    <div class="idol-comment-item-left">
	                                        <img src="images/comment_user_portrait.png" alt="" class="idol-comment-item-img">
	                                        <div class="idol-comment-item-left-nickname">鹿晗生猴子</div>
	                                    </div>
	                                    <div class="idol-comment-item-time">一天前</div>
	                                    <div class="clearfix"></div>
	                                </div>
	                                <div class="idol-comment-item-content">说真的，我觉得这个圈子有傻子有骗子，有骚人有贱人，还真就没有老实人。这年头，娱乐圈里说谁是老实人，绝对是句骂人话。</div> 
	                            </li>
	                            <li class="idol-comment-item">
	                                <div class="idol-comment-item-top">
	                                    <div class="idol-comment-item-left">
	                                        <img src="images/comment_user_portrait.png" alt="" class="idol-comment-item-img">
	                                        <div class="idol-comment-item-left-nickname">鹿晗生猴子</div>
	                                    </div>
	                                    <div class="idol-comment-item-time">一天前</div>
	                                    <div class="clearfix"></div>
	                                </div>
	                                <div class="idol-comment-item-content">说真的，我觉得这个圈子有傻子有骗子，有骚人有贱人，还真就没有老实人。这年头，娱乐圈里说谁是老实人，绝对是句骂人话。</div> 
	                            </li>
	                            <li class="idol-comment-item">
	                                <div class="idol-comment-item-top">
	                                    <div class="idol-comment-item-left">
	                                        <img src="images/comment_user_portrait.png" alt="" class="idol-comment-item-img">
	                                        <div class="idol-comment-item-left-nickname">鹿晗生猴子</div>
	                                    </div>
	                                    <div class="idol-comment-item-time">2015-09-24  15:11:02</div>
	                                    <div class="clearfix"></div>
	                                </div>
	                                <div class="idol-comment-item-content">我爸是李刚，我表示呵呵，然并卵</div> 
	                            </li>
	                            <li class="idol-comment-item">
	                                <div class="idol-comment-item-top">
	                                    <div class="idol-comment-item-left">
	                                        <img src="images/comment_user_portrait.png" alt="" class="idol-comment-item-img">
	                                        <div class="idol-comment-item-left-nickname">鹿晗生猴子</div>
	                                    </div>
	                                    <div class="idol-comment-item-time">2015-09-24  15:11:02</div>
	                                    <div class="clearfix"></div>
	                                </div>
	                                <div class="idol-comment-item-content">我爸是李刚，我表示呵呵，然并卵</div> 
	                            </li>
	                            <li class="idol-comment-item">
	                                <div class="idol-comment-item-top">
	                                    <div class="idol-comment-item-left">
	                                        <img src="images/comment_user_portrait.png" alt="" class="idol-comment-item-img">
	                                        <div class="idol-comment-item-left-nickname">鹿晗生猴子</div>
	                                    </div>
	                                    <div class="idol-comment-item-time">2015-09-24  15:11:02</div>
	                                    <div class="clearfix"></div>
	                                </div>
	                                <div class="idol-comment-item-content">我爸是李刚，我表示呵呵，然并卵</div> 
	                            </li>
	                        </ul>
	                        <div class="idol-comment-more">查看更多评论
	                        </div>
                    	</div>
                    	<div class="idol-comment-nothing" style="display:none;">
                        <div class="idol-comment-top">
                            <div class="idol-comment-top-num">0评论</div>
	                            <div class="idol-comment-top-info">评论互动请下载爱豆APP</div>
	                            <div class="clearfix"></div>
	                        </div>
	                        <div class="idol-comment-nothing-info">暂无评论，快来抢沙发~</div>
	                    </div>
					</div>
					<!-- end -->
				</div>

				<div class="share">
					<div class="share-in">
						<!-- JiaThis Button BEGIN -->
		                <div class="jiathis_style_24x24">
		                    <a href="http://www.jiathis.com/share?url=http%3A%2F%2Ftv.idol001.com%2Fvideo_mobile%2F556726d87a117300428b4754.html&amp;title=%E7%88%B1%E8%B1%86%20APP%20%E6%9C%89%E3%80%8A%E6%88%91%E7%9A%84%E9%82%BB%E5%B1%85%E6%98%AFEXO%E3%80%8B%EF%BC%81%E5%9B%BD%E5%86%85%E6%9C%80%E5%BF%AB%E9%80%9F%E5%BA%A6%E6%9B%B4%E6%96%B0%E9%9F%A9%E5%89%A7%E5%92%8C%E7%BB%BC%E8%89%BA%E7%89%87%E5%B0%B1%E5%9C%A8%E7%88%B1%E8%B1%86%EF%BC%8C%E8%80%8C%E4%B8%94%E5%95%A5%E9%83%BD%E6%9C%89%E5%93%A6~%EF%BC%9B%20APP%20%E8%A7%82%E7%9C%8B%E4%BD%8D%E7%BD%AE%EF%BC%9A%E5%8F%91%E7%8E%B0-%E5%BD%B1%E8%A7%86%E5%BA%93%EF%BC%8CAPP%20%E4%B8%8B%E8%BD%BD%EF%BC%9Ahttp%3A%2F%2Fidol001.com%2Fapp.html&amp;summary=%E6%88%91%E7%9A%84%E9%82%BB%E5%B1%85%E6%98%AFEXO&amp;uid=1374472569394595&amp;pic=http%3A%2F%2Fimg.idol001.com%2Forigin%2F2015%2F07%2F18%2F4c0a87d137d0af751a260ab72e26a3da1437209037.jpg" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
		                    <span class="jiathis_txt">分享到：</span>
		                    <a class="jiathis_button_qzone" title="分享到QQ空间"><span class="jiathis_txt jtico jtico_qzone"></span></a>
		                    <a class="jiathis_button_tsina" title="分享到新浪微博"><span class="jiathis_txt jtico jtico_tsina"></span></a>
		                </div>
		                <!-- JiaThis Button END -->
					</div>		  	
				</div>
				<div class="source-inf">
					<p class="nor-ite">视频来源</p>
					<h3 class="ng-binding"></h3>
					<p class="ng-binding">上传于:2015-06-03 03:38:26</p>
				</div>
			</section>
			<section class="sec sec-3">
				<p class="nor-ite">视频推荐</p>
				<ul class="movie-list rec-list fn-clearfix">
					<!-- ngRepeat: item in relate_video_list --><li ng-repeat="item in relate_video_list" class="ng-scope">
						<a class="poster" href="/video_mobile/55f8d7a97a1173064f8b4aa9.html"><img ng-src="http://img.idol001.com/thumbnail/2015/09/16/6f5dc6ea516c81c4b935ad5c1e3af2f51442371410.jpg" alt="" src="http://img.idol001.com/thumbnail/2015/09/16/6f5dc6ea516c81c4b935ad5c1e3af2f51442371410.jpg"><!-- ngIf: item.update_desc&&item.update_desc<item.episode_count --><!-- ngIf: item.update_desc&&item.update_desc==item.episode_count --></a><a class="name ng-binding" href="/video_mobile/55f8d7a97a1173064f8b4aa9.html">六龙飞天</a>
					</li><!-- end ngRepeat: item in relate_video_list --><li ng-repeat="item in relate_video_list" class="ng-scope">
						<a class="poster" href="/video_mobile/55e7f9167a11739f068b8630.html"><img ng-src="http://img.idol001.com/thumbnail/2015/09/03/ec426ea7e10c50468b2af45039ebf3f31441265932.jpg" alt="" src="http://img.idol001.com/thumbnail/2015/09/03/ec426ea7e10c50468b2af45039ebf3f31441265932.jpg"><!-- ngIf: item.update_desc&&item.update_desc<item.episode_count --><span ng-if="item.update_desc&amp;&amp;item.update_desc<item.episode_count" class="ng-scope ng-binding">更新至6集</span><!-- end ngIf: item.update_desc&&item.update_desc<item.episode_count --><!-- ngIf: item.update_desc&&item.update_desc==item.episode_count --></a><a class="name ng-binding" href="/video_mobile/55e7f9167a11739f068b8630.html">她很漂亮</a>
					</li><!-- end ngRepeat: item in relate_video_list --><li ng-repeat="item in relate_video_list" class="ng-scope">
						<a class="poster" href="/video_mobile/55b47c647a1173724c8cbb24.html"><img ng-src="http://img.idol001.com/thumbnail/2015/07/26/e68f5b418b15b3c30ecff8c46cb826b31437891621.jpg" alt="" src="http://img.idol001.com/thumbnail/2015/07/26/e68f5b418b15b3c30ecff8c46cb826b31437891621.jpg"><!-- ngIf: item.update_desc&&item.update_desc<item.episode_count --><!-- ngIf: item.update_desc&&item.update_desc==item.episode_count --><span ng-if="item.update_desc&amp;&amp;item.update_desc==item.episode_count" class="ng-scope">已完结</span><!-- end ngIf: item.update_desc&&item.update_desc==item.episode_count --></a><a class="name ng-binding" href="/video_mobile/55b47c647a1173724c8cbb24.html">龙八夷</a>
					</li><!-- end ngRepeat: item in relate_video_list --><li ng-repeat="item in relate_video_list" class="ng-scope">
						<a class="poster" href="/video_mobile/55fa803d7a1173bb788b82a5.html"><img ng-src="http://img.idol001.com/thumbnail/2015/09/17/6221ea741c1606053f33638994f694041442480154.jpg" alt="" src="http://img.idol001.com/thumbnail/2015/09/17/6221ea741c1606053f33638994f694041442480154.jpg"><!-- ngIf: item.update_desc&&item.update_desc<item.episode_count --><!-- ngIf: item.update_desc&&item.update_desc==item.episode_count --><span ng-if="item.update_desc&amp;&amp;item.update_desc==item.episode_count" class="ng-scope">已完结</span><!-- end ngIf: item.update_desc&&item.update_desc==item.episode_count --></a><a class="name ng-binding" href="/video_mobile/55fa803d7a1173bb788b82a5.html">恋爱细胞2</a>
					</li><!-- end ngRepeat: item in relate_video_list -->
				</ul>
				<a class="btn-more" href="http://tv.idol001.com/television.html">查看更多</a>
			</section>
		</div>
	</div>

<script>
    //点击量
    imgLog('http://statistic.idol001.com/api_moblie_idol/?action=log_video_mobile_collection_view&platform=web&collection_id='+G_COLLECTION_ID);
</script>	

<script type="text/javascript">
var jiathis_config = {
    title:"爱豆 APP 有《我的邻居是EXO》！国内最快速度更新韩剧和综艺片就在爱豆，而且啥都有哦~； APP 观看位置：发现-影视库，APP 下载：http://idol001.com/app.html",
    summary:"我的邻居是EXO",
    pic:"http://img.idol001.com/origin/2015/07/18/4c0a87d137d0af751a260ab72e26a3da1437209037.jpg"
};
</script>

<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1374472569394595" charset="utf-8"></script><script type="text/javascript" src="http://v3.jiathis.com/code/plugin.client.js" charset="utf-8"></script>


<div style="display: none;"><script language="javascript" type="text/javascript" src="http://js.users.51.la/9855399.js"></script><a href="http://www.51.la/?9855399" target="_blank" title="51.La 网站流量统计系统">网站统计</a>
<noscript>&lt;a href="http://www.51.la/?9855399" target="_blank"&gt;&lt;img alt="&amp;#x6211;&amp;#x8981;&amp;#x5566;&amp;#x514D;&amp;#x8D39;&amp;#x7EDF;&amp;#x8BA1;" src="http://img.users.51.la/9855399.asp" style="border:none" /&gt;&lt;/a&gt;</noscript></div></body></html>